<!DOCTYPE html>
<html>
    <head>
        <title>Bazaar</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/app.css"></link>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        
        <div>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar navbar-toggle navbar-collapsed" data-toggle="collapse" data-target="#toCollapse" aria-expanded="false">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#" class="navbar-brand">Bazaar</a>
                    </div>
                    <div class="collapse navbar-collapse" id="toCollapse">
                        <ul class="nav navbar-nav">
                               <% sections.forEach(function(section){ %>
                               <li class="dropdown">
                               <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= section.name %></a>
                               <ul class="dropdown-menu">
                                   <% section.categories.forEach(function(cat){ %>
                                   <li><a href="#"><%= cat %></a></li>
                                   <% }); %>
                               </ul>
                               </li>
                               <% }); %>
                        </ul>
                        <% if(currentUser){ %>
                           <% if(currentUser.isAdmin){ %>
                               <ul class="nav navbar-nav navbar-center">

                              <li><a href="/admin/">List Items</a></li>

                              <li><a href="/admin/add">Add Items</a></li>
                              <li><a href="/admin/">Delete/UpdateItems Items</a></li>
                               </ul>
                           <% } %>
                        
                        <%    } %>
                        
                        <ul class="nav navbar-nav navbar-right">
                            <% if(!currentUser){ %>
                                   <li><a href="/login">Login  <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
                                  <li><a href="/register">  Sign Up <i class="fa fa-user-plus" aria-hidden="true"></i> </a></li>
                            <%  }else{ %>

                                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Signed in as <%= currentUser.username %></a>
                                    <ul class="dropdown-menu">
                                      <li><a href="/edit_profile">Edit Profile</a></li>
                                      <li><a href="/shopping_cart">View Cart</a></li>
                                      <li><a href="/MyWishlist">View Wishlist</a></li>
                                      <li><a href="/MyOrders">View Orders</a></li>
                                    </ul>
                                    
                                  </li>

                                  <li><a href="#">Signed in as <%= currentUser.username %></a></li>

                                  <li> <a href="/logout">Logout  <i class="fa fa-times" aria-hidden="true"></i></a></li>
                            <%    } %>
                        </ul>
                        
                    </div>
                </div>
            </nav>
        </div>
        
        <div id="flashMsg">
            <div class="container">
    <% if(error && error.length>0){ %>
         <div class="alert alert-danger" role="alert">
            <%= error %>
           </div>
     <% } %>
     <% if(success && success.length>0){ %>
         <div class="alert alert-success" role="alert">
            <%= success %>
         </div>
     <% } %>
</div>
        </div>

