<% include partials/header %>
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="mt-5">Username: <%=userDetails[6] %></h2>
          
          <ul class="list-unstyled">
            <li>Name: <%=userDetails[0] %> <%=userDetails[1] %></li>
            <li>Contact Number: <%=userDetails[2] %> </li>
            <li> Address: <%=userDetails[3] %></li>
          </ul>
        </div>
      </div>
    </div>

<% include partials/footer %>